body {
  background-color: #d9ecf2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

.leaf {
  position: absolute;
  left: 1110px;
  top: 125px;
  width: 70px;
  height: 70px;
}

.server-name {
  position: absolute;
  left: 790px;
  top: 100px;
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.header-p {
  position: absolute;
  left: 894px;
  top: 175px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  font-family: 'Roboto Slab', serif;
  background-color: #ff414d;
  width: auto;
  padding: 5px;
}

.navbar-li {
  display: inline;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-left: 50px;
}

.navbar-link:hover {
  color: #810000;
}

.navbar-server-name {
  display: inline;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.main-container {
    position: absolute;
    top: 270px;
    background-color: #f1f3f8;
    width: 1903px;
    height: 800px;
}

.information {
  position: absolute;
  left: 53px;
}

.about-us {
  text-align: center;
  width: 500px;
  position: absolute;
  top: 50px;
  left: 280px;
  font-family: 'Roboto Slab', sans-serif;
  color: #393b44;
}

.about-us-h1 {
  position: absolute;
  left: 30px;
}

.about-us-hr {
  position: absolute;
  left: 12px;
  top: 60px;
  width: 180px;
  color: #393b44;
  border-style: dashed none none none;
  border-top-width: 5px;
}

.about-us-p {
  position: relative;
  top: 75px;
  right: 145px;
  font-family: 'Open Sans', serif;
  line-height: 7px;
}

.announcements {
  text-align: center;
  width: 500px;
  position: absolute;
  top: 50px;
  left: 750px;
  font-family: 'Roboto Slab', sans-serif;
  color: #393b44;
}

.announcements-h1 {
  position: absolute;
  left: 30px;
}

.announcements-hr {
  position: absolute;
  left: 10px;
  top: 60px;
  width: 300px;
  color: #393b44;
  border-style: dashed none none none;
  border-top-width: 5px;
}

.announcements-a {
  text-decoration: none;
  position: relative;
  top: 75px;
  right: 110px;
  font-family: 'Open Sans', serif;
  line-height: 7px;
  color: #393b44;
}

.events {
  text-align: center;
  width: 500px;
  position: absolute;
  top: 50px;
  left: 1350px;
  font-family: 'Roboto Slab', sans-serif;
  color: #393b44;
}

.events-h1 {
  position: absolute;
  left: 30px;
}

.events-hr {
  position: absolute;
  left: 8px;
  top: 60px;
  width: 150px;
  color: #393b44;
  border-style: dashed none none none;
  border-top-width: 5px;
}

.events-a {
  text-decoration: none;
  position: relative;
  top: 75px;
  right: 187px;
  font-family: 'Open Sans', serif;
  line-height: 7px;
  color: #393b44;
}

.footer {
  color: white;
  background-color: #8d93ab;
  margin-top: 1200px;
  height: 80px;
  width: auto;
}

.footer-p {
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 1280px;
  left: 887.45px;
}

.register-container {
  text-align:center;
  position: absolute;
  top: 270px;
  background-color: #f1f3f8;
  width: 1903px;
  height: 400px;
}

.registration-form {
  color: #8d93ab;
  margin-left: 835px;
  margin-top: 30px;
}

.register-button {
   background: #22A5C7;
   background-image: -webkit-linear-gradient(top, #22A5C7, #184F5E);
   background-image: -moz-linear-gradient(top, #22A5C7, #184F5E);
   background-image: -ms-linear-gradient(top, #22A5C7, #184F5E);
   background-image: -o-linear-gradient(top, #22A5C7, #184F5E);
   background-image: -webkit-gradient(to bottom, #22A5C7, #184F5E);
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 14px;
   padding: 9px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 10px;
   margin-top: 20px;
}

.register-button:hover {
   border: solid #337FED 0;
   background: #49C1DF;
   background-image: -webkit-linear-gradient(top, #49C1DF, #378193);
   background-image: -moz-linear-gradient(top, #49C1DF, #378193);
   background-image: -ms-linear-gradient(top, #49C1DF, #378193);
   background-image: -o-linear-gradient(top, #49C1DF, #378193);
   background-image: -webkit-gradient(to bottom, #49C1DF, #378193);
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   text-decoration: none;
}

.register-footer {
  color: white;
  background-color: #8d93ab;
  margin-top: 858px;
  height: 80px;
}

.register-footer-p {
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 935px;
  left: 887.45px;
}
